[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do google58714c020515e44c.html
Type=Link
URL=http://www.lookafter.pl/google58714c020515e44c.html
Icon=text-html
